<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://davefunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e5446cbc-ef9c-46f5-beda-75cd449ad789/resourceGroups/DavidTestRG/providers/Microsoft.Web/sites/DaveFunctionApp</ResourceId>
    <UserName>$DaveFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://davefunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>