@page
@model DirectUploadModel
@{
    ViewData["Title"] = "Direct Upload";
}

<h1>@ViewData["Title"]</h1>

<p>When landing on this page, the file in the hard coded path is uploaded to an azure blob storage.</p>
